body{
    font-family: 'Poppins', sans-serif;
}

span{
    color: orange;
}
h1{
    font-size: 50px;
    line-height: 50%; 
    color:rgb(100, 94, 94);
}
h2{
    font-size: 40px;
    color: rgb(78, 72, 72);
}
h3{
    font-weight: 700px;
    font-size: 30px;
}
section{
    display: flex;
}
.half{
    width:40%;
    padding: 2%;
    
}
p{
    color: gray;
    margin-bottom: 50px;
    font-size: 20px;
    width: 80%;
}

.order-button{
    text-decoration: none;
    background: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
}
.banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-left: 200px;
    padding-right: 200px;
    padding-top:115px;
}
.about-recipies{
    text-align: center;
}
.about-recipies p{
    margin-left: 300px;
    width: 50%;
}
.recipies{
    width: 30%;
    height: 600px;
    margin: 2%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;

}
.recipies-img{
    width: 90%;
    padding: 25px;
}
footer{
    height: 250px;
    background-color: black;
    padding-top: 30px;
    text-align: center;
    display: block;

}
#last-word{
    text-align: center;
    color: white;
    padding-left: 150px;
    padding-top: 10px;    
}

